<div class="card border-0 rounded shadow-sm m-3 p-3">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-2 me-5 text-center" data-toggle="tooltip" data-placement="top" title="Clique aqui para alterar a imagem do seu perfil">
          <input type="file" #file (change)="onFileChange($event)" class="input-img-upload">
          <a id="link-image">
            <img
            [src]="this.imagemUrl"
             width="120" height="120"
             alt="Imagem do perfil do usuário"
             class="rounded-circle" (click)="file.click()">
             <p class="text-uppercase text-center mt-2" id="nome-usuario">{{this.form.get("nomeUsuario").value}}</p>
          </a>
      </div>
      <div class="col-lg-9">
        <div class="col-lg-12 col-md-4 col-sm-12">
          <h1><span class="texto-destaque">Informações</span></h1>
        </div>
        <div class="row">
          <hr/>
          <div class="col-12">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput type="text" name="nome" [formControl]="f.nomeUsuario" required />
              <mat-error *ngIf="f.nomeUsuario.errors?.required">O nome é obrigatório</mat-error>
              <mat-error *ngIf="f.nomeUsuario.errors?.maxlength">O nome deve ter no máximo 50 caracteres
              </mat-error>
              <mat-error *ngIf="f.nomeUsuario.errors?.minlength">O nome deve ter no mínimo 4 caracteres
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Setor</mat-label>
              <input matInput readonly type="text" name="nomeSetor" [formControl]="f.nomeSetor" />
            </mat-form-field>

          </div>
          <div class="col-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Empresa</mat-label>
              <input matInput readonly type="text" name="razaoSocial" [formControl]="f.razaoSocial" />
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>E-mail</mat-label>
              <input matInput readonly type="text" name="email" [formControl]="f.email" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Permissão</mat-label>
              <input matInput readonly type="text" name="descricaoPermissao" [formControl]="f.descricaoPermissao" />
            </mat-form-field>
          </div>
        </div>
        <div>
          <h1 class="col-2"><span class="texto-destaque">Senha</span></h1>
        </div>
        <div class="row">
          <div class="col-sm">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Senha</mat-label>
              <input matInput type="password" name="senha" [formControl]="f.senha" required />
              <mat-error *ngIf="f.senha.errors?.required">A senha é obrigatória</mat-error>
              <mat-error *ngIf="f.senha.errors?.maxlength">A senha deve ter no máximo 25 caracteres
              </mat-error>
              <mat-error *ngIf="f.senha.errors?.minlength">A senha deve ter no mínimo 5 caracteres
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm">

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput type="password" name="confirmeSenha" [formControl]="f.confirmeSenha" required />
              <mat-error *ngIf="f.confirmeSenha.errors?.required">A senha é obrigatória</mat-error>
              <mat-error *ngIf="f.confirmeSenha.errors?.maxlength">A senha deve ter no máximo 25 caracteres
              </mat-error>
              <mat-error *ngIf="f.confirmeSenha.errors?.minlength">A senha deve ter no mínimo 5 caracteres
              </mat-error>
              <mat-error *ngIf="f.confirmeSenha.errors?.mustMatch">As senhas não são iguais
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
        <button [disabled]="!form.valid" (click)="salvarAlteracaoPerfil()" class="btn btn-success">
          <span class="mr-1"></span>
          Salvar Alteração
        </button>
    </div>
  </form>
</div>
<ngx-spinner name="upload" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Fazendo upload da imagem... </p></ngx-spinner>
<ngx-spinner name="carregando" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Carregando Perfil... </p></ngx-spinner>
<ngx-spinner name="atualizando" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Atualizando Perfil... </p></ngx-spinner>
