<div class="card border-0 rounded shadow-sm p-3 m-5">
  <app-header-grid
    [ehAdministrador]="ehAdministrador"
    [rotaNovoRegistro]=""
    (exportar)="exportarParaExcel()"
    (changeValueInput)="onChange($event)"
  ></app-header-grid>
  <ngx-table [data]="data" [configuration]="configuracao" [pagination]="paginacao"
 [columns]="colunas" [noResultsTemplate]="mensagemSemCadastro"
    #table>
    <ng-template let-row let-index="index">
      <td class="perda">
        <div class="font-small"><p class="identificador">Código da Perda:</p> {{ row.codigoPerda}}</div>
        <div class="font-small"><p class="identificador" data-toggle="tooltip" data-placement="top" title="Nome do funcionário vinculado ao patrimônio">Nome do funcionário:</p> {{ row.nomeFuncionario | uppercase}}</div>
        <div class="font-small"><p class="identificador" data-toggle="tooltip" data-placement="top" title="Nome do usuário que registrou a perda">Nome do usuário:</p> {{ row.nomeUsuario | uppercase}}</div>
        <div class="font-small"><p class="identificador">Equipamento:</p> {{ row.tipoEquipamento}}</div>
        <div class="font-small"><p id="perda-motivo">Motivo da Perda:</p> <p id="perda-motivo-texto">{{ row.motivoDaPerda}}</p></div>
      </td>
    </ng-template>
  </ngx-table>
  <div>
    <mat-paginator
      [length]="totalItensPaginacao"
      [pageSize]="5"
      (page)="paginationEvent($event)"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </div>
</div>

<ng-template #mensagemSemCadastro>
  <td [attr.colspan]="colunas.length + 1" class="no-results text-center">
    <h4>Não há nenhuma perda cadastrada</h4>
  </td>
</ng-template>

<ngx-spinner name="buscando" [bdColor]="confSpinner.bdColor"
  [size]="confSpinner.tamanho"
  [color]="confSpinner.color"
  [fullScreen]="confSpinner.fullScren">
  <p style="color: white"> Buscando... </p>
</ngx-spinner>
